.background {
    background-color: aliceblue;
}
.container {
    width: 970px;
}
.jumbotronHome {
    height: 470px;
    background-image: url("img/vaporwave.jpg");
}
.jumbotron {
    height: 470px;
